In [5]:
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [31]:
data = load_breast_cancer()   # Loading the dataset
np.unique(data['target'])

array([0, 1])

We can see that there are two outputs 0 and 1 so we actually have a binary classification.

In [32]:
X = pd.DataFrame(data.data)   # Independent variable
X.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [33]:
Y = pd.DataFrame(data.target)  # Dependent Variable
Y.head()

   0
0  0
1  0
2  0
3  0
4  0

In [34]:
logistic = LogisticRegression()   # Initiating a model
model = logistic.fit(X,Y)

C:\Users\User\Anaconda2\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [35]:
pred = model.predict_proba(X)   # Predict for all the values of X

This gives us the probability of the output being 1.( i.e. the cancer being malignent).

In [38]:
X['class'].head()

0    0
1    0
2    0
3    1
4    0
Name: class, dtype: int32

In [66]:
X['class'] = model.predict(X)
X['probability'] = pred[:,1]

In [40]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,class,probability
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0,3.931564e-15
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0,2.216903e-08
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0,4.818601e-08
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,1,5.209234e-01
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0,9.710685e-06

In [46]:
X['Quartile'] = pd.qcut(X['probability'],10,labels = [1,2,3,4,5,6,7,8,9,10])

In [48]:
X['Quartile'].value_counts()

10    57
9     57
8     57
7     57
5     57
4     57
3     57
2     57
1     57
6     56
dtype: int64

In [67]:
X['Actual'] = pd.DataFrame(data.target)

In [68]:
X.groupby(['Quartile','Actual']).size()

Quartile  Actual
1         0         57
2         0         57
3         0         57
4         0         37
          1         20
5         0          3
          1         54
6         0          1
          1         55
7         1         57
8         1         57
9         1         57
10        1         57
dtype: int64

This tells us about the actual classes present in each of the quartiles, and this should be used to populate our excel table for values of 0s and 1s.